.heroInnerContainer {
    max-width: 752px;
    margin: 24px;
}
.cardTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    height: 45px;
}
.cardIconContainer {
    display: flex;
    color: var(--color-primary-light-6);
    gap: 8px;
    font-size: 14px;
    justify-content: center;
    align-items: center;
}
.cardIconContainer p {
    padding: 7px 0;
}
.optionsCardContainer {
    display: flex;
    width: 100%;
    gap: 16px;
    margin-top: 24px;
}

@media screen and (max-width: 700px) {
    .optionsCardContainer {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
}
