.settingContainer {
    min-width: fit-content;
    height: 32px;
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
@media screen and (max-width: 834px) {
    .settingContainer {
        margin-left: 10px;
    }
}
